{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API Playground</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" />
    <meta charset="UTF-8" />
  </head>
  <body>
    <form method="POST" class="search-form"> {% csrf_token %}
      <input type="text" placeholder="Enter a word" name="image_url">
      <button type="submit">Submit</button>
    </form>
    <img src="{{ image_url }}" alt="Unsplash Image" class="resized-image" />
    
    <div class="content-container">
      <div class="content-item">
        <h4>Fact</h4>
        <p>{{ fact }}</p>
      </div>
    
      <div class="content-item">
        <h4>Advice</h4>
        <p>{{ advice }}</p>
      </div>
    
      <div class="content-item">
        <h4>Dog</h4>
        <img src="{{ dog_image }}" alt="Random Dog Image" class="resized-image" />
      </div>
    </div>
  </body>
</html>
